/* 
font-family: 'Montserrat', sans-serif;
font-family: 'IBM Plex Serif', serif;
font-family: 'Yeseva One', cursive;
font-family: 'Archivo Black', sans-serif;
*/
* {
	margin: 0;
	padding: 0;
	color: #231f20;
}

/*FOOTER*/
footer {
	position: relative;
	bottom: 0;
	color: white;
	width: 100%;
	background: #003cff;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 1.1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

footer p,
i {
	color: white;
}

#coffee {
	text-decoration: none;
	color: white;
	transition: all ease-in-out .3s;
}
/* #coffee:hover {
	color: #ffdb06;
} */
.underlines {
	display: flex;
	margin-top: 5px;
}

#underline {
	width: 95px;
	height: 5px;
	background: white;
}

#underline2 {
	width: 50px;
	height: 5px;
	background: white;
	transition: all ease-in-out .3s;
}

#dot {
	width: 5px;
	height: 5px;
	margin-left: 5px;
	background: white;
}

.social-icon {
	font-weight: normal;
	font-size: 1.5rem;
	transition: all ease-in-out .3s;
}
.social-icon > i {
	transition: all ease-in-out .3s;
	text-shadow: 1px 3px 3px rgba(255, 218, 5, 0);
}
.social-icon:hover > i {
	color: #ffdb06;
	text-shadow: 1px 5px 7px rgba(255, 218, 5, 0.5);
}
