extends layout
block content
   section.panorama
      .mountain-main
         img(src="/images/Panorama.svg", alt="MainMountain")
         .saluto
            h1 #{saluto1}
            h3 #{saluto2} <br/> #{saluto3}

   section.latest-projects
      .title
         h1.heading-title-light #{projectsTitle}
      .card-container 
         .card
            .card-content
