extends layout

block content
  .container-fluid.panorama
        .row.mt-5
          .col
              h1#main-title-dark #{mainTitle}
              .underlines
                #underlineAbout
        .row.mb-5
         .col-sm
            img.lab-clouds(src="/images/lab-clouds.svg", alt="alt")
  .introtext.text-center
    h2 !{introtext}
  
  .container-fluid.bg-dark
    .row
      .col#codepen
        <p class="codepen" data-height="533" data-theme-id="default" data-default-tab="js" data-user="MrEagle" data-slug-hash="QYgqQa" style="height: 533px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Simple Form CSS">
        <span>See the Pen <a href="https://codepen.io/MrEagle/pen/QYgqQa">
        Simple Form CSS</a> by Mr.Eagle (<a href="https://codepen.io/MrEagle">@MrEagle</a>)
        on <a href="https://codepen.io">CodePen</a>.</span>
        </p>
        <script async src="https://static.codepen.io/assets/embed/ei.js"></script>