doctype html
html(lang="es")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous")
      link(href="https://fonts.googleapis.com/css?family=Archivo+Black|IBM+Plex+Serif|Montserrat:900|Yeseva+One&display=swap" rel="stylesheet")
      link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
      link(rel="stylesheet", type = "text/css", href="/stylesheets/main.css")
      link(rel="stylesheet", type = "text/css", href="/stylesheets/navbar.css")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      title #{title}
   body
      header#navbar
         .container-fluid(style="max-width: 2300px")
            .row.justify-content-between.p-1
               .col.logoED.ml-2.mt-1.mb-1
                  a(href='/')
                     img(id='edLogo', class="img-fluid", src='/images/EDLogo.svg', alt = 'Logo')
               .col.menuED.text-right.mr-3.mt-2.mb-1
                  .open-menu
                     i.fas.fa-bars
            .round-menu
               .close-menu
                  i.fas.fa-times
               .menu-items
                  .container.bg-sucess
                     .d-flex.flex-column.mr-3
                        .col
                           a.menu-item(href="/about") ABOUT
                        .col
                           a.menu-item(href="/projects") PROJECTS 
                        .col
                           a.menu-item(href="/lab") LAB

      block content 

      footer
         .container-fluid
            .row.mt-3.mb-3
               .col-sm.mt-2.mb-2
                  p Designed by Mr.Eagle &#129413 © 2019. All Rights Reserved.
                  .underlines
                     #underline
                     #dot
               .col-sm.mt-2.mb-2
                  a( id='coffee', href='https://www.patreon.com', target = "_blank") Buy me a Coffee	&#x2615
                  .underlines
                     #underline2
                     #dot
               .col-sm
                  .row.justify-content-center.mt-2.mb-2
                     .col.text-center
                        a(class = "social-icon" href="behance.com", target = "_blank") 
                           i.fab.fa-behance
                     .col.text-center
                        a(class = "social-icon" href="dribble.com", target = "_blank")
                           i.fab.fa-dribbble
                     .col.text-center
                        a(class = "social-icon" href="linkedin.com", target = "_blank")
                           i.fab.fa-linkedin-in
                     .col.text-center
                        a(class = "social-icon" href="instagram.com", target = "_blank")
                           i.fab.fa-instagram  
                     .col.text-center
                        a(class = "social-icon" href="facebook.com", target = "_blank")
                           i.fab.fa-facebook-f 
                     .col.text-center
                        a(class = "social-icon" href="twitter.com", target = "_blank")
                           i.fab.fa-twitter  
      block scripts
      script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
      script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
      script(src="/javascripts/interactions.js")
