extends layout
block xtra-style
   style(type="text/css").
      .injected a{
         font-family: 'Yeseva One', cursive;
         font-size: 2rem;
         color: #231F20;
         border-bottom: 5px;

         text-decoration-color: #ffdb06;
      }
      
block content
   .container-fluid.projects-main.my-3
      .row
         .col
            h1#main-title-light #{mainTitle}
            .underlines
               #underlineAbout
   .container
      .row
         .col-sm.text-center
            img.img-fluid.my-5.rounded.shadow-lg(src=post.image)
            p.h5.text-center.mt-5 #{post.descriptionLong}
            hr.my-5
            if post.link != null
              p.text-center.my-5.injected !{post.link}
            else
               h4 no link for this post